@media (max-width: 1424px) {
  .home-details {
    flex: 0 0 70%;
    max-width: 100%;
  }
  .home-img {
    flex: 0 0 30%;
    max-width: 40%;
    height: 311px !important;
    text-align: center;
  }
  .home-img::after {
    right: -80px;
    bottom: 40px;
  }
}
@media (max-width: 992px) {
  .fixed-icon-container {
    left: calc(100vw - 65px) !important;
  }
  .home-img {
    flex: 0 0 30%;
    max-width: 180px !important;
    min-width:180px;
    width: 180px !important;
    max-height: 180px !important;
    height: 180px !important;
    overflow: hidden;
    border-radius: 90px;
    margin: auto;
    margin-top: 70px;
  }
  .home-img::after {
    bottom: 0px;
    border-right: 10px solid var(--primary);
  }
  .home-img .avatar {
    margin-left: -90px !important;
  }
}
@media (max-width: 660px) {
  .home-details {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding: var(--padd-x-15);
  }
  .home-details p {
    margin: var(--margin-y-15);
  }
  .home-img::after{
    bottom:calc(100vh - (100vh -80)) !important;
    right:0.5% !important;
  }
}
@media (max-width: 508px) {
  .home-img{
    flex: 0 0 50% !important;
  }
  .home-img::before{
    border-top:0px !important;
  }
}
/*=======================
  viewport height
==========================*/
@media (max-height: 883px) {
  .home-details p{
    margin-bottom:30px !important;
  }
  .home-img {
    flex: 0 0 30%;
    max-width: 80px !important;
    min-width:80px;
    width: 80px !important;
    max-height: 80px !important;
    height: 80px !important;
    overflow: hidden;
    border-radius: 40px;
    margin: auto;
    margin-top: 15px !important;
    margin-bottom:15px !important;
  }
  .home-img::before{
    display:none;
  }
  .home-img::after{
    margin-bottom:0px !important;
  }
  .home-img .avatar{
    height:80px !important;
    margin-bottom:15px !important;
    animation-name:wobble !important;
    animation-iteration-count: infinite !important;
  }
}
@media (max-height: 518px) {
  .home-details .profession{
    font-size:7.5vh !important;
  }
  .home-details .greeting{
    font-size:8vh !important;
  }
  .home-details p{
    font-size:4vh !important;
  }
}
@media (max-height: 450px) {
  .home-details p{
    font-size:3.8vh !important;
  }
  .aside-section{
    padding-top:5% !important;
  }
  .aside-section #logo {
    top:20px !important;
  }
  .aside-section #logo a{
    font-size:9.5vh !important;
  }
  .aside-section #logo span{
    font-size:10vh !important;
  }
  .aside-section .nav li a,
  .home-details p{
    font-size:5.5vh !important;
  }
}
